services:
  app-db:
    image: postgres:18-alpine
    container_name: app-db
    volumes:
      - app-db-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${DB_PORT:-5432}:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    
    restart: unless-stopped

  
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    volumes:
      - ./app:/app
      - ./alembic:/alembic
    env_file:
      - .env
    depends_on:
      app-db:
        condition: service_healthy
    ports:
      - "${BACKEND_SYSTEM_PORT}:8007"
    environment:
      - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@app-db:${DB_PORT:-5432}/${POSTGRES_DB}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:${BACKEND_SYSTEM_PORT}/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  app-db-data:

