fastapi
uvicorn[standard]
python-multipart

# Auth & Security
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]

# HTTP Client
aiohttp

# HTML Parsing
beautifulsoup4
lxml

# Database (Async)
SQLAlchemy>=2.0
asyncpg
alembic

# Environment Variables
python-dotenv

# Utilities
pydantic
pydantic-settings
psycopg2
email-validator

# Rate Limiting
slowapi

# Error Tracking
sentry-sdk[fastapi]